<nav class="pane">
    <div class="logo">
        <a href="/">
            <img src="/icons/logo.png" alt="">
        </a>
    </div>
    <div class="buttons">
        <a title="Create a new bin" href="/new">
            <i class="fas fa-plus"></i>
        </a>
        <a title="Download bin" id="downloadFile" onclick="downloadBIN()" href="" target="_blank" download="export.txt">
            <i class="fas fa-download"></i>
        </a>
        <a title="Copy link" id="copyLink" onclick="copyURL()">
            <i class="fas fa-link"></i>
        </a>
        <a id="duplicate" onclick="duplicate()">
            <i class="fas fa-copy"></i>
        </a>
        <!-- The actual snackbar -->
    </div>
</nav>
<div id="snackbar"></div>