<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New: UrlBin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
    <script src="/js/script.js"></script>
    <link rel="shortcut icon" href="/icons/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script type="text/javascript" src="/js/b64.js"></script>
    <script type="text/javascript" src="/js/api.js"></script>
    <script src="/js/editor.js"></script>
</head>

<body>
    <%- include ("_buttons.ejs") %>
    <div class="wrapper">
        <div class="line-numbers">
            &gt;
        </div>
        <textarea onkeyup="update()" id="new-code" name="value"></textarea>
    </div>



        <script>
            autosize(document.querySelectorAll('textarea'));
            window.addEventListener('DOMContentLoaded', () => {
                if (window.location.hash) {
                    // Try to get page data from the URL if possible
                    var hash = window.location.hash.slice(1);
                    var data = b64.decode(hash);
                    var urlDataObject = JSON.parse(data).code
                    try {
                    var api = apiVersions[urlDataObject.version];
                    var display = document.getElementById('new-code')
                    display.value = urlDataObject;
                    } catch (err) {
                    console.log("error while getting data")
                    }
                } else {
                    // Otherwise redirect to the editor
                    window.location.replace("/about");
                }
            });
        </script>
</body>

</html>