@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* width */
::-webkit-scrollbar {
  width: 5px;
}
* {
  scrollbar-width: thin;
}
/* Track */
* ::-webkit-scrollbar-track {
  background: #f1f1f11e;
  width: 5px;
}

/* Handle */
* ::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgba(255, 255, 255, 0.192);
}

/* Handle on hover */
* ::-webkit-scrollbar-thumb:hover {
  background: #ffffffaf;
  width: 5px;
}

body {
  background-color: #002b36;
  margin: 0;
  max-width: 100vw;
  display: flex;
}
.wrapper {
  display: flex;
  font-size: 1rem;
  width: 95vw;
  margin-left: 4rem;
  margin-top: 1rem;
}
pre {
  margin: 0;
  width: 100%;
}
#code-display {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.line-numbers {
  color: #7d7d7d;
  font-family: monospace;
  text-align: end;
}

.pane {
  position: fixed;
  height: 100vh;
  width: 4rem;
  min-width: 2.5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  background-color: #01222b;
}
.logo a img {
  max-width: 2rem;
}
.pane a {
  text-decoration: none;
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  transition: ease 0.5s;
}
.pane a:hover {
  background-color: #142b31;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0;
  margin: 0;
}

/* Textarea styles route: /new */
#new-code {
  background-color: transparent;
  border: none;
  resize: none;
  width: 98%;
  padding: 0;
  margin-left: 1rem;
  color: #7d7d7d;
  min-height: calc(100vh - 2rem);
  outline: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  font-family: "Bebas Neue", cursive;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.75s;
  animation: fadein 0.5s, fadeout 0.5s 4.75s;
}

#snackbar a {
  text-decoration: underline dotted orange;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
